
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  .bordas-arredondadas{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-width: 2px;
  }

  .bordas-arredondadas-top{
      border-top-left-radius:5px;
      border-top-right-radius:5px;
      border-color: black;
      border-bottom-left-radius:0px;
      border-bottom-right-radius:0px;
      border-width: 2px;
  }
